@model Producto
<article class="d-flex justify-content-center align-items-center" style="height: 70vh;">
    <section class="border rounded p-5">
        <form asp-controller="Producto" asp-action="Create" method="post">
            <section class="form-group p-2">
                <label asp-for="Descripcion" class="form-label">Descripcion</label>
                <input type="text" asp-for="Descripcion" class="form-control-sm">
            </section>
            <section class="form-group d-flex justify-content-between p-2">
                <label asp-for="Precio" class="form-label">Precio</label>
                <input type="number" asp-for="Precio" class="form-control-sm">
            </section>
            <section class="form-group p-2">
                <input type="submit" value="Crear" class="btn btn-primary">
                <a class="btn btn-danger " asp-controller="Producto" asp-action="Index">Volver</a>
            </section>
        </form>
    </section>
</article>