@model PresupuestoViewModel
<form asp-controller="Presupuesto" asp-action="Create">
  <section class="mb-3">
    <label asp-for="NombreDestinatario" class="form-label"></label>
    <input asp-for="NombreDestinatario" class="form-control" />
    <span asp-validation-for="NombreDestinatario" class="text-danger"></span>
  </section>
  <section class="mb-3">
    <label asp-for="FechaCreacion" class="form-label"></label>
    <input asp-for="FechaCreacion" class="form-control" />
    <span asp-validation-for="FechaCreacion" class="text-danger"></span>

  </section>
@*   <input type="hidden" value="@DateTime.Now" asp-for="FechaCreacion"> *@
  <button type="submit" class="btn btn-primary">Crear</button>
</form>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}