@model PresupuestoViewModel

<form asp-controller="Presupuesto" asp-action="Edit">
    <section class="mb-3">
        <input type="hidden" asp-for="IdPresupuesto" value="@Model.IdPresupuesto">
        <label asp-for="NombreDestinatario" class="form-label">Nombre Destinatario</label>
        <input asp-for="NombreDestinatario" value="@Model.NombreDestinatario" class="form-control" required /> 
        <span asp-validation-for="NombreDestinatario" class="text-danger"></span>

    </section>
    <input type="hidden" value="@Model.FechaCreacion" asp-for="FechaCreacion">

  <button type="submit" class="btn btn-warning">Modificar</button>
</form>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}